/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'TT Travels';
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: #404040;
}
ul,
li {
  list-style: none;
  color: #404040;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 500;
  color: #404040;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* index */

.head {
  padding-left: 54px;
  height: 70px;
  display: flex;

  align-items: center;
}

.head-check {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 21.44px;
  background-color: #ffffff;
  width: 131px;
  height: 37px;
  border: 1px solid #e2e8f0;
  border-radius: 48px;
}

.head-check__btnone {
  width: 55px;
  height: 31px;
  background-color: #5a30f0;
  color: #ffffff;
  border-radius: 34px;
}
.head-check__btntoo {
  width: 66px;
  height: 31px;
  color: #636c81;
  background-color: inherit;
  border-radius: 34px;
}

.head-nav__list {
  display: flex;
  gap: 32px;
  margin-left: 84px;
  font-size: 16px;
  font-weight: 500px;
}
.head-contakt {
  margin-left: 67px;
}
.head-contakt__tel {
  margin-right: 15px;
}
.head-contakt__grap {
  margin-left: 15px;
  margin-right: 32px;
}
.section-main {
  height: 800px;
  margin-bottom: 73px;
  background-image: url(./images/hero.jpg);
  background-size: 50% 800px;
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
}

.main-hero {
  text-align: start;
  max-width: 401px;
  max-height: 357px;
  padding-right: 50px;

  position: absolute;
  top: 221px;
  right: 164px;
}

.main-hero__title {
  font-size: 76px;
  font-weight: 400px;
  margin-bottom: 30px;
}

.main-hero__pretitle {
  font-size: 18px;
  font-weight: 400px;
}

.main-hero__btn {
  width: 195px;
  height: 195px;
  border-radius: 50%;
  background-color: #5a30f0;
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  right: 43.5%;
}

.card-menu {
  width: 1320px;
  height: 328px;
  margin: 0 auto;
  margin-bottom: 149px;
}

.card-menu__list {
  display: flex;
  justify-content: space-between;
}

.card-menu__item {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 300px;
  height: 328px;
  padding: 20px 35px 0 35px;
  background-color: #f3f6fb;
  border-radius: 8px;
}
.card-menu__title {
  font-size: 24px;
  font-weight: 500;
}

.sec-use {
  width: 1094px;
  height: 795px;
  margin: 0 auto;
  margin-bottom: 142px;
}

.sec-use__text {
  display: flex;
  justify-content: space-between;
}

.sec-anime {
  width: 1440px;
  height: 800px;
}

.sec-anime__bar {
  width: 375px;
  height: 800px;
  background-color: #5a30f0;
}
